### Book_2_Python_W3_Tuple()

Python Data Structures - 
continued..
Tuples

+ Tuple - Tuple is a collection which is ordered and unchangeable, written with round brackets

In [1]:
tuple1 = ('apple', 'banana', 'cherry')
print(tuple1)

('apple', 'banana', 'cherry')

In [12]:
## Accesing the tuple items by referring to the index in square brackets-
tuple1[-2]

'banana'

In [14]:
## Changing the Tuple Values - once a tuple is created it's values cannot be changed as it is immutable.
# but converting tuple into list change in list and then convert the list back into a tuple

tup1 = ("apple", "banana", "cherry")
y = list(tup1)
y[1] = "kiwi"
tup1 = tuple(y)
print(tup1)

('apple', 'kiwi', 'cherry')

In [15]:
#looping through tuple - 
for items in tup1:
    print(items)

apple
kiwi
cherry

In [16]:
#Checking if item exists in tuple or not - 
if "kiwi" in tup1:
    print("Yes Kiwi exists in tuple")

Yes Kiwi exists in tuple

In [18]:
len(tup1) ##length of tuple

3

In [21]:
## Cannot add item in tuple
## tup1[3] = "orange"  ##error as tuples are immutable

In [25]:
## Create a tuple with one item- put a comma after the first item
thistup = ('doct', )

In [23]:
type(thistup)

tuple

In [26]:
#Remove items - cannot remove items in tuple but you can delete the tuple completely

#del thistup
print(thistup)

('doct',)

In [29]:
tup1 = ('a', 'b', 'c')
tup2 = (1, 2, 3)
tup3 = tup1 + tup2
print(tup3)

('a', 'b', 'c', 1, 2, 3)

In [32]:
tup4 = tuple(('a','b')) # tuple constructor to create a tuple
print(tup4)

('a', 'b')

In [35]:
##tuple methods - 
#1. count() - Returns the number of times a specified value occurs in a tuple

#2. Index() - Searches the tuple for a specified value and returns the position of wehre it was found

In [38]:
tup4.index('a')

0

In [39]:
tup4.count('a')

1